{% extends "blog/base.html" %}
{% block content %}
 <h2>Blog</h2>
     <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row d-flex justify-content-center mb-5">
          <div class="col-10">
            <div class="swiper sliderFeaturedPosts" >
              <div class="swiper-wrapper">
                  {% for post in post_list %}
                    <div class="swiper-slide">
                      <a href="{% url 'blog:post_detail' post.slug  %}" class="img-bg d-flex align-items-center" style="background-image: url('{{ post.cover.url }}');">
                        <div class="img-bg-inner">
                          <h2>{{ post.title }}</h2>
                          <p class="card-text mx-2">{{post.content|slice:":200" }}</p>
                        </div>
                      </a>
                    </div>
                  {% endfor %}


              </div>


              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <div class="container col-10">
      {% for post in post_list %}
        <article class="postcard light blue">
			<a class="postcard__img_link" href="{% url 'blog:post_detail' post.slug  %}">
				<img class="postcard__img" src="{{ post.cover.url}}" alt="{{ post.title }}" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="{% url 'blog:post_detail' post.slug  %}">{{ post.title }}</a></h1>
				<div class="postcard__subtitle small">
					<div>
						<i class="fas fa-calendar-alt mr-2"></i>{{ post.created_on}} || {{ post.author }}
					</div>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"><p class="card-text mx-2">{{post.content|slice:":150" }}</p></div>
			</div>
		</article>
    {% endfor %}
    </div>


{%endblock%}





