{% extends "shop/base.html" %}
{% block content %}
    <div class="index-container">
    <div class="container m-4">
    <h2>Courses</h2>
    <div class="row mx-auto">
        <!-- Blog Entries Column -->

            {% for course in course_list %}
                  <div class="card">
                        <div class="card-header">
                          <img src="{{ course.cover.url}}" alt="{{ course.title }}" />
                        </div>
                        <div class="card-body border-top">
                          <p class="card-text">{{ course.title }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button class="btn btn-primary"><a class="text-white" style="text-decoration: none" href="{% url 'shop:course_detail' course.slug  %}">View</a></button>
                            </div>
                            <small class="text-muted">Ksh. {{course.price }}</small>
                          </div>
                        </div>
                  </div>

            {% endfor %}


    </div>
</div>

    </div>

{% endblock %}



