{% extends "shop/base.html" %}
{% block content %}
    <div class="container m-4">
    <h2>Courses</h2>
    <div class="row">
        <!-- Blog Entries Column -->

            {% for course in course_list %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                            <img class="img-fluid" src="{{ course.cover.url}}" alt="{{ course.title }}">
                            <div class="d-flex flex-column justify-content-between  mb-3">
                                <p class="card-text text-muted h6">{{ course.author }} | {{ course.created_on}} </p>
                              <h4>{{ course.title }}</h4>
                              <p class="price">Ksh. {{course.price }}</p>
                            </div>
                            <a href="{% url 'shop:course_detail' course.slug  %}" class="btn btn-primary">Read Description &rarr;</a>
                    </div>
                </div>
            {% endfor %}

    </div>
</div>
{% endblock %}


