{% extends "shop/base.html" %}
{% block content %}
    <div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for course in course_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <img class="img-fluid" src="{{ course.cover.url}}" alt="{{ course.title }}">
                    <h2 class="card-title">{{ course.title }}</h2>
                    <p class="card-text text-muted h6">{{ course.author }} | {{ course.created_on}} </p>
                    <p class="card-text">Ksh. {{course.price }}</p>
                    <a href="{% url 'shop:course_detail' course.slug  %}" class="btn btn-primary">Read Description &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}